section {
   width:300px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
}

img {
    display:flex;
    justify-content: center;
    align-items: center;
    width:300px;
}

.container {
    display: flex;
    justify-content: space-evenly
}

